:root {
  --color-background: #0f0f0f;
  --font-size-corps: 1rem;
  --font-size-caption: 0.618rem;
  --font-size-button: 1rem;
  --font-size-title: 1.2rem;
  --color-corps-text: #aaaaaa;
  --color-white-a: #121212;
  --color-white-a1: #3c3c3c;
  --color-white-a2: #4a4a4a;
  --color-white-a3: #797979;
  --gap-thin: 0.5rem;
  --gap-small: 1rem;
  --gap-medium: 2rem;
  --gap-large: 3rem;
}

html {
  font-size: 12px;
  font-family: Roboto, sans-serif;
}
@media screen and (min-width: 480px) {
  html {
    font-size: 14px;
  }
}

body {
  background: var(--color-background);
  color: white;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: var(--font-size-title);
  font-weight: 700;
  margin: 0;
  line-height: calc(var(--font-size-corps) + 0.5rem);
}

span {
  font-size: var(--font-size-corps);
  color: var(--color-corps-text);
}

.icon {
  height: 20px;
}

@media screen and (min-width: 480px) {
  h2 {
    font-size: var(--font-size-corps);
  }
  .icon {
    height: 25px;
  }
}

/* 🏁

START HEADER EXERCICE

🏁 */

header {
  /* 
   🐶 Le header possède une position fixe
    indique ton intention d'avoir le conteneur collé en haut à gauche
    à l'aide des propritétés left et top
    Ah et on est sur un conteneur flex !
  */

  height: 56px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  background: var(--color-background);
  gap: var(--gap-small);
  padding-inline: 1rem;
  z-index: 3;
}

.logo-mobile,
.logo-desktop {
  height: 25px;
}

.search-icon {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.notification-icon-container {
  position: relative;
  margin-left: auto;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-background);
}

.desktop-search-header {
  display: none;
}
@media screen and (min-width: 480px) {
  .avatar {
    width: 35px;
    height: 35px;
  }
  header {
    /* 
    🐶 la width du header est de 100% moins 5rem (utilise calc) 
    déplace le conteneur de 5rem sur la gauche pour laisser un peu d'espace à gauche
    */
  }
}

@media screen and (min-width: 768px) {
  header {
    /* 
    🐶 la width du header est de 100% moins 240px (utilise calc) 
    déplace le conteneur de 240px sur la gauche pour laisser un peu d'espace à gauche
    */
  }
  .search-icon {
    display: none;
  }
  .desktop-search-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .desktop-search-header input {
    /* 
    🐶 Notre input possède un border solid de 1px avec la variable de couleur  --color-white-a1 
    la couleur du texte est blanc
    on a un padding horizontal (droite et gauche) de 1.25rem et vertical (haut, bas) de 0.75rem
    Ajoute un peu de rondeur avec un border radius uniquement sur les coins en haut à gauche et en bas à gauche de 20px
    */
    width: 70%;
    max-width: 350px;
  }
  .bars-desktop {
    background: var(--color-background);
    padding: 5px;
    border-radius: 5px;
    margin-top: -5px;
    cursor: pointer;
  }
  .search-validation {
    background: var(--color-white-a1);
    border-radius: 0px 20px 20px 0px;
    padding: 0.45rem 1rem;
    cursor: pointer;
  }
  .search-validation-container,
  .vocal-search-container {
    height: calc(25px + 0.9rem);
  }

  .vocal-search {
    background: var(--color-white-a1);
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
  }
  .search-validation:hover,
  .vocal-search:hover,
  .bars-desktop:hover {
    background: var(--color-white-a2);
  }
  .search-validation:active,
  .vocal-search:active,
  .bars-desktop:active {
    background: var(--color-white-a3);
  }
}

/* ⚠️


END HEADER EXERCICE
le reste du code est dédié à l'exercice 1.2 pour la tagbar

⚠️ */

/* 🏁

START TAGBAR EXERCICE

🏁 */

.tag-bar {
  /* 
   🐶 La tagbar possède une position fixe
    indique ton intention d'avoir le conteneur collé à gauche
    nous voulons avoir notre tagbar juste en dessous du header sachant que notre header fait 56px de hauteur
    Comme pour le header on est sur un conteneur flex !
  */
  height: 56px;
  width: 100%;
  box-sizing: border-box;
  background: var(--color-background);
  align-items: center;
  gap: var(--gap-small);
  padding-inline: 1rem;
  z-index: 2;
  border-top: 1px solid var(--color-white-a2);
  border-bottom: 1px solid var(--color-white-a2);
}

.tag-content {
  /*
   🐶 on est sur un conteneur flex qui possède un alignement horizontal centré
    le gap entre les éléments prend la variable (--gap-small)
    pour gerer le scroll horizontal on va agir sur l'axe Y
    donc passons l'overflow-y sur une valeur automatique pour passer en scroll si le contenu dépasse du conteneur
  */
  /*🏆 Challenge toi et cherche comment obtenir l'effet de fondu sur la droite */
}

.tag-content span {
  white-space: nowrap;
  background: var(--color-white-a1);
  padding: 0.35rem 0.7rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.tag-content span:hover {
  /* 🐶 Lors du survol je souhaite avoir un background possédant la variable --color-white-a2 */
}

.tag-content span:active {
  /* 🐶 Lors du clique je souhaite avoir un background possédant la variable --color-white-a3 */
}
.tag-content span:focus {
  /* 🐶 
    Une fois cliqué le background passe en blanc avec un texte noir 
  */
}

.tag-content span:nth-child(2) {
  background: white;
  color: black;
}

@media screen and (min-width: 480px) {
  .tag-bar {
    width: calc(100% - 5rem);
    left: 5rem;
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .tag-bar {
    width: calc(100% - 240px);
    left: 240px;
  }
}

.content-section {
  min-height: 300dvh;
}
